@charset "UTF-8";

body {
    font-family: Helvetica Neue,sans-serif;
}

.center .outer_wrap {
    width: 1000px;
    height: 800px;
    background-color: white;
    margin: 20px 240px 20px 240px;
    /* border: 3px solid black; */
    padding-top: 1px;
}

.center .outer_wrap .in_wrap {
    width: 600px;
    height: 724px;
    border: 3px groove #ebebeb;
    /* margin: auto; */
    /* margin: 50px 200px 0px 200px; */
    padding-top: 55px;
}

.center .outer_wrap .in_wrap.get_back_password_wrap {
    height: 330px;
}

.center .outer_wrap .in_wrap .center_title {
    padding-left: 50px;
}

.center .outer_wrap .in_wrap .input_big {
    width: 500px;
    height: 43px;
    margin: 20px 49px 0px 49px;
}

.center .outer_wrap .in_wrap .Login .login_button {
    width: 500px;
    height: 43px;
    margin: 10px 49px 0px 49px;
    background-color: #D10024;
    color: white;
}
p.error{
    color: red;
}

.center .outer_wrap .in_wrap.get_back_password_wrap .message{
    text-align: center;
    margin-bottom: 30px;
}

.center .outer_wrap .in_wrap.get_back_password_wrap .signInButton{
    margin: 0px 244px 0px 244px;
    background: #ff0000;
    color: white;
    border: none;
    padding: 9px 12px;
}